.side-bar-navegation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    background: linear-gradient(160deg, #0B3C91, #1565C0, #1E88E5);
    color: var(--color-secondary);
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

/* Ao passar o mouse */
.side-bar-navegation:hover {
    width: 260px;
}

.side-bar-header-logo {
    padding: 20px 0 10px 0;
}

.side-bar-header-logo h2 {
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    opacity: 0;
}

/* Mostrar o título ao abrir */
.side-bar-navegation:hover .side-bar-header-logo h2 {
    opacity: 1;
}

.side-bar-option-navegation a {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.side-bar-option-navegation:hover .side-bar-option-navegation {
    color: white;
}

.side-bar-option-navegation a svg {
    height: 25px;
    width: 25px;
    min-width: 25px;
}

/* Texto oculto por padrão */
.side-bar-label {
    font-size: 18px;
    color: var(--fm-color-gray-secondary);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* Mostrar texto ao abrir */
.side-bar-navegation:hover .side-bar-label {
    opacity: 1;
}

.side-bar-option-navegation-active {
    border-left: 4px solid white;
}

.side-bar-option-navegation a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    /* cor suave */
    border-radius: 8px;
    transition: background-color 0.2s ease;
}